In [1]:
# Declare Dependencies 
from splinter import Browser
from bs4 import BeautifulSoup
from flask import request
import html5lib
import pandas as pd
import lxml
import requests
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
import requests as rq
import re
import time 
import random

In [2]:
# Choose the executable path to driver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# URL
result = []
list_rows = []
#rows = []
for i in range(0, 17):
    base_url = f'https://www.gunviolencearchive.org/reports/total-number-of-incidents?page={i}&year=2019'
    r = rq.get(base_url)
    time.sleep(random.randint(1,5))
    
    soup = BeautifulSoup(r.text, 'html.parser')
    table_rows = soup.find_all('tr')
    #print('Number of results', len(table_rows))
    for tr in table_rows:
        row_td = tr.find_all('td')
    rows =soup.findAll('tr')
    row = [row.get_text().strip('\n') for row in rows]
    str_cells = str(row_td)
    cleantext = BeautifulSoup(str_cells, "lxml").get_text()
    rows =soup.findAll('tr')
    for row in rows:
        cells = row.find_all('td')
        str_cells = str(cells)
        clean = re.compile('<.*?>')
        clean2 = (re.sub(clean, '',str_cells))
        list_rows.append(clean2)

df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1  [1506655, September 18, 2019, Indiana, Fort Wa...
2  [1506387, September 18, 2019, Pennsylvania, Pi...
3  [1506592, September 18, 2019, Alabama, Scottsb...
4  [1506556, September 18, 2019, Texas, San Anton...
5  [1506539, September 18, 2019, Michigan, Marsha...
6  [1506412, September 18, 2019, Maryland, Pasade...
7  [1506460, September 18, 2019, Georgia, Snellvi...
8  [1506454, September 18, 2019, Florida, Sarasot...
9  [1506446, September 18, 2019, Florida, Bradent...

In [4]:
df

                                                     0
0                                                   []
1    [1506655, September 18, 2019, Indiana, Fort Wa...
2    [1506387, September 18, 2019, Pennsylvania, Pi...
3    [1506592, September 18, 2019, Alabama, Scottsb...
4    [1506556, September 18, 2019, Texas, San Anton...
5    [1506539, September 18, 2019, Michigan, Marsha...
6    [1506412, September 18, 2019, Maryland, Pasade...
7    [1506460, September 18, 2019, Georgia, Snellvi...
8    [1506454, September 18, 2019, Florida, Sarasot...
9    [1506446, September 18, 2019, Florida, Bradent...
10   [1506430, September 18, 2019, Florida, Lawtey,...
11   [1506424, September 18, 2019, Maryland, Baltim...
12   [1506407, September 18, 2019, Florida, Boynton...
13   [1506396, September 18, 2019, District of Colu...
14   [1506384, September 18, 2019, Pennsylvania, Ph...
15   [1506379, September 18, 2019, New Jersey, Eliz...
16   [1505550, September 17, 2019, New York, Staten...
17   [1506299, September 17, 2019, New York, Corona...
18   [1506290, September 17, 2019, New York, Syracu...
19   [1506288, September 17, 2019, Illinois, Quincy...
20   [1505511, September 17, 2019, New York, Troy, ...
21   [1506224, September 17, 2019, Michigan, Detroi...
22   [1506241, September 17, 2019, Michigan, Jackso...
23   [1506234, September 17, 2019, Tennessee, Nashv...
24   [1506232, September 17, 2019, Michigan, Muskeg...
25   [1506227, September 17, 2019, California, Trac...
26                                                  []
27   [1506221, September 17, 2019, Kentucky, Louisv...
28   [1506169, September 17, 2019, California, Dela...
29   [1506136, September 17, 2019, Florida, Orlando...
..                                                 ...
412  [1505209, September 14, 2019, Texas, Longview,...
413  [1504048, September 14, 2019, Illinois, Chicag...
414  [1503691, September 14, 2019, Illinois, Chicag...
415  [1503902, September 14, 2019, Mississippi, Vic...
416                                                 []
417  [1504044, September 14, 2019, Illinois, Chicag...
418  [1506167, September 14, 2019, California, Vict...
419  [1505202, September 14, 2019, Texas, Tom Green...
420  [1504513, September 14, 2019, New York, Waterv...
421  [1504508, September 14, 2019, Illinois, Carbon...
422  [1504504, September 14, 2019, Kentucky, Louisv...
423  [1504370, September 14, 2019, Kentucky, Louisv...
424  [1504482, September 14, 2019, California, Sant...
425  [1505148, September 14, 2019, California, Oxna...
426  [1504164, September 14, 2019, Missouri, Saint ...
427  [1504476, September 14, 2019, California, Fres...
428  [1504030, September 14, 2019, Missouri, Saint ...
429  [1504454, September 14, 2019, Missouri, Kansas...
430  [1504506, September 14, 2019, West Virginia, C...
431  [1503962, September 14, 2019, Virginia, Hampto...
432  [1506025, September 14, 2019, Florida, Sebasti...
433  [1503968, September 14, 2019, Virginia, Roanok...
434  [1504441, September 14, 2019, Connecticut, New...
435  [1505097, September 14, 2019, Texas, Dallas, 2...
436  [1505078, September 14, 2019, Illinois, Rockfo...
437  [1503990, September 14, 2019, Pennsylvania, Ph...
438  [1503985, September 14, 2019, Tennessee, Dyers...
439  [1504415, September 14, 2019, Colorado, Grand ...
440  [1505989, September 14, 2019, Tennessee, Memph...
441  [1504409, September 14, 2019, Iowa, Waterloo, ...

[442 rows x 1 columns]

In [5]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1  [1506655, September 18, 2019, Indiana, Fort Wa...
2  [1506387, September 18, 2019, Pennsylvania, Pi...
3  [1506592, September 18, 2019, Alabama, Scottsb...
4  [1506556, September 18, 2019, Texas, San Anton...
5  [1506539, September 18, 2019, Michigan, Marsha...
6  [1506412, September 18, 2019, Maryland, Pasade...
7  [1506460, September 18, 2019, Georgia, Snellvi...
8  [1506454, September 18, 2019, Florida, Sarasot...
9  [1506446, September 18, 2019, Florida, Bradent...

In [6]:
df = df[0].str.split(',', expand=True)
df.head(10)

,0,1,2,3,4,5,6,7,8
0,[],None,None,None,None,None,None,None,None
1,[1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source\n]
2,[1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source\n]
3,[1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source\n]
4,[1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source\n]
5,[1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source\n]
6,[1506412,September 18,2019,Maryland,Pasadena,1400 block of Orr Ct,1,0,View Incident\nView Source\n]
7,[1506460,September 18,2019,Georgia,Snellville,Stone Mountain Hwy and Easy St,0,0,View Incident\nView Source\n]
8,[1506454,September 18,2019,Florida,Sarasota,1200 block of Cornish Ct,1,0,View Incident\nView Source\n]
9,[1506446,September 18,2019,Florida,Bradenton,3500 block of 39th St E,0,1,View Incident\nView Source\n]

In [7]:
df[0] = df[0].str.strip('[')
df

,0,1,2,3,4,5,6,7,8
0,],None,None,None,None,None,None,None,None
1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source\n]
2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source\n]
3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source\n]
4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source\n]
5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source\n]
6,1506412,September 18,2019,Maryland,Pasadena,1400 block of Orr Ct,1,0,View Incident\nView Source\n]
7,1506460,September 18,2019,Georgia,Snellville,Stone Mountain Hwy and Easy St,0,0,View Incident\nView Source\n]
8,1506454,September 18,2019,Florida,Sarasota,1200 block of Cornish Ct,1,0,View Incident\nView Source\n]
9,1506446,September 18,2019,Florida,Bradenton,3500 block of 39th St E,0,1,View Incident\nView Source\n]
10,1506430,September 18,2019,Florida,Lawtey,Co Rd 200A,0,1,View Incident\nView Source\n]
11,1506424,September 18,2019,Maryland,Baltimore,3400 block of Piedmont Ave,1,0,View Incident\nView Source\n]
12,1506407,September 18,2019,Florida,Boynton Beach,2300 Block of NW 17th Ave,0,2,View Incident\nView Source\n]
13,1506396,September 18,2019,District of Columbia,Washington,1500 block of Morris Rd SE,0,0,View Incident\nView Source\n]
14,1506384,September 18,2019,Pennsylvania,Philadelphia,400 block of Van Kirk St,1,0,View Incident\nView Source\n]
15,1506379,September 18,2019,New Jersey,Elizabeth,1037 Bond St,0,0,View Incident\nView Source\n]
16,1505550,September 17,2019,New York,Staten Island,20 Prince St,1,1,View Incident\nView Source\n]
17,1506299,September 17,2019,New York,Corona (Queens),59th St and Woodside Ave,0,1,View Incident\nView Source\n]
18,1506290,September 17,2019,New York,Syracuse,W Brighton Ave,0,1,View Incident\nView Source\n]
19,1506288,September 17,2019,Illinois,Quincy,1300 block of N 4th St,0,0,View Incident\nView Source\n]
20,1505511,September 17,2019,New York,Troy,111th St and Fourth Ave,1,0,View Incident\nView Source\n]
21,1506224,September 17,2019,Michigan,Detroit,6300 block of Memorial St,1,1,View Incident\nView Source\n]
22,1506241,September 17,2019,Michigan,Jackson,200 block of Third St,1,0,View Incident\nView Source\n]
23,1506234,September 17,2019,Tennessee,Nashville,904 26th Ave N,0,0,View Incident\nView Source\n]
24,1506232,September 17,2019,Michigan,Muskegon,Peck St and Irwin Ave,0,0,View Incident\nView Source\n]
25,1506227,September 17,2019,California,Tracy,Peony Dr and Windsong Dr,0,0,View Incident\nView Source\n]
26,],None,None,None,None,None,None,None,None
27,1506221,September 17,2019,Kentucky,Louisville,32nd St and River Park Dr,0,2,View Incident\nView Source\n]
28,1506169,September 17,2019,California,Delano,10200 Casey Ave,1,0,View Incident\nView Source\n]
29,1506136,September 17,2019,Florida,Orlando,10400 Block of Kingbrook Ln,1,0,View Incident\nView Source\n]
...,...,...,...,...,...,...,...,...,...
412,1505209,September 14,2019,Texas,Longview,N/A,0,0,View Incident\nView Source\n]
413,1504048,September 14,2019,Illinois,Chicago,11000 block of S Bishop St,0,1,View Incident\nView Source\n]
414,1503691,September 14,2019,Illinois,Chicago,500 block of N Lawler Ave,1,0,View Incident\nView Source\n]
415,1503902,September 14,2019,Mississippi,Vicksburg,500 block of Hutson St,0,1,View Incident\nView Source\n]
416,],None,None,None,None,None,None,None,None
417,1504044,September 14,2019,Illinois,Chicago,1800 block of S Keeler Ave,1,0,View Incident\nView Source\n]
418,1506167,September 14,2019,California,Victorville,16900 block of C St,0,1,View Incident\nView Source\n]
419,1505202,September 14,2019,Texas,Tom Green (county),N/A,0,0,View Incident\nView Source\n]
420,1504513,September 14,2019,New York,Watervliet,1500 block of 4th Ave,0,0,View Incident\nView Source\n]
421,1504508,September 14,2019,Illinois,Carbondale,700 block of N Robert A Stalls Ave,0,3,View Incident\nView Source\n]
422,1504504,September 14,2019,Kentucky,Louisville,2400 block of Franklin Ave,0,1,View Incident\nView Source\n]
423,1504370,September 14,2019,Kentucky,Louisville,N/A,1,0,View Incident\nView Source\n]
424,1504482,September 14,2019,California,Santa Ana,500 E Pine St,1,0,View Incident\nView Source\n]
425,1505148,September 14,2019,California,Oxnard,1700 block of Elsinore Cir,1,0,View Incident\nView Source\n]
426,1504164,September 14,2019,Missouri,Saint Louis,4069 Shaw Blvd,0,3,View Incident\nView Source\n]
427,1504476,September 14,2019,California,Fresno,Glenn Ave and Belmont Ave,0,0,View Incident\nView Source\n]
428,1504030,September 14,2019,Missouri,Saint Louis,5200 block of Tennessee Ave,1,3,View Incident\nView Source\n]
429,1504454,September 14,2019,Missouri,Kansas City,11400 block of Herrick Ave,0,1,View Incident\nView Source\n]
430,1504506,September 14,2019,West Virginia,Charleston,Glenwood Ave and 7th St,1,0,View Incident\nView Source\n]
431,1503962,September 14,2019,Virginia,Hampton,1600 block of W Pembroke Ave,0,1,View Incident\nView Source\n]
432,1506025,September 14,2019,Florida,Sebastian (Barefoot Bay),N/A,0,0,View Incident\nView Source\n]
433,1503968,September 14,2019,Virginia,Roanoke,3602 Williamson Rd NW,0,2,View Incident\nView Source\n]
434,1504441,September 14,2019,Connecticut,New Haven,Hobart St,0,2,View Incident\nView Source\n]
435,1505097,September 14,2019,Texas,Dallas,2900 block of St Bernard Dr,0,3,View Incident\nView Source\n]
436,1505078,September 14,2019,Illinois,Rockford,4200 block of Auburn St,0,1,View Incident\nView Source\n]
437,1503990,September 14,2019,Pennsylvania,Philadelphia,500 block of S 57th St,0,2,View Incident\nView Source\n]
438,1503985,September 14,2019,Tennessee,Dyersburg,600 block of Lake Rd,2,0,View Incident\nView Source\n]
439,1504415,September 14,2019,Colorado,Grand Junction,337 S Redlands Rd,0,0,View Incident\nView Source\n]
440,1505989,September 14,2019,Tennessee,Memphis,Cooper St and Felix Ave,0,0,View Incident\nView Source\n]
441,1504409,September 14,2019,Iowa,Waterloo,E 4th St and E Parker St,0,0,View Incident\nView Source\n]

In [8]:
headers = rows[0].find_all('th')
headers = [header.get_text().strip('\n') for header in headers]
headers

['Incident ID',
 'Incident Date',
 'State',
 'City Or County',
 'Address',
 '# Killed',
 '# Injured',
 'Operations']

In [9]:
all_header = []
col_str = str(headers)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

["['Incident ID', 'Incident Date', 'State', 'City Or County', 'Address', '# Killed', '# Injured', 'Operations']"]

In [10]:
header = all_header[0].replace('[', '').replace(']', '').split(',')[:8]
header.insert(2, 'year')
# new_header = []
# for item in header:
#     new_header.append(item.strip())
header = [name.replace('"', '').replace("'", "").replace('#', '').strip() for name in header]
header

['Incident ID',
 'Incident Date',
 'year',
 'State',
 'City Or County',
 'Address',
 'Killed',
 'Injured',
 'Operations']

In [11]:
header_df = pd.DataFrame(header).T
header_df.head()

,0,1,2,3,4,5,6,7,8
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations

In [12]:
df.shape, header_df.shape

((442, 9), (1, 9))

In [13]:
frames = [header_df, df]

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,],None,None,None,None,None,None,None,None
1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source\n]
2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source\n]
3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source\n]
4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source\n]
5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source\n]
6,1506412,September 18,2019,Maryland,Pasadena,1400 block of Orr Ct,1,0,View Incident\nView Source\n]
7,1506460,September 18,2019,Georgia,Snellville,Stone Mountain Hwy and Easy St,0,0,View Incident\nView Source\n]
8,1506454,September 18,2019,Florida,Sarasota,1200 block of Cornish Ct,1,0,View Incident\nView Source\n]

In [14]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,],None,None,None,None,None,None,None,None
1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source\n]
2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source\n]
3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source\n]

In [15]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443 entries, 0 to 441
Data columns (total 9 columns):
Incident ID       443 non-null object
Incident Date     426 non-null object
year              426 non-null object
State             426 non-null object
City Or County    426 non-null object
Address           426 non-null object
Killed            426 non-null object
Injured           426 non-null object
Operations        426 non-null object
dtypes: object(9)
memory usage: 34.6+ KB

(443, 9)

In [16]:
df6 = df5.dropna(axis=0, how='any')

In [17]:
df7 = df6.drop(df6.index[0])
df7.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source\n]
2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source\n]
3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source\n]
4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source\n]
5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source\n]

In [18]:
df7['Operations'] = df7['Operations'].str.strip(']').str.strip('\n')
df7.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source
2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source
3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source
4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source
5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source

In [19]:
df7 = df7.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [20]:
df7.to_csv("gunviolence2019_db.csv")

In [21]:
# Create engine using the `gunviolence_db.sqlite` database file
#engine = create_engine("sqlite:///../project2_team4/gunviolence_db.sqlite")

In [22]:
#df7.to_sql("gunviolence2019_db", con=engine)