In [1]:
# Declare Dependencies 
from splinter import Browser
from bs4 import BeautifulSoup
from flask import request
import html5lib
import pandas as pd
import lxml
import requests
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
import requests as rq
import re
import time 
import random

In [2]:
# Choose the executable path to driver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [4]:
#result = []
#list_rows = []
#rows = []
#for i in range(0, 17):
#    base_url = f'https://www.gunviolencearchive.org/reports/total-number-of-incidents?page={i}&year=2018'
#    r = rq.get(base_url)
#    time.sleep(random.randint(1,5))
    
#    soup = BeautifulSoup(r.text, 'html.parser')
#    table_rows = soup.find_all('tr')
#    print(f'Page {i} has {len(table_rows)}, finish scraping {round(i/17, 4) * 100} %')
#    result.extend(table_rows)
#print(result)

In [5]:
#result[0]

In [6]:
# URL
result = []
list_rows = []
#rows = []
for i in range(0, 17):
    base_url = f'https://www.gunviolencearchive.org/reports/total-number-of-incidents?page={i}&year=2018'
    r = rq.get(base_url)
    time.sleep(random.randint(1,5))
    
    soup = BeautifulSoup(r.text, 'html.parser')
    table_rows = soup.find_all('tr')
    #print('Number of results', len(table_rows))
    for tr in table_rows:
        row_td = tr.find_all('td')
    rows =soup.findAll('tr')
    row = [row.get_text().strip('\n') for row in rows]
    str_cells = str(row_td)
    cleantext = BeautifulSoup(str_cells, "lxml").get_text()
    rows =soup.findAll('tr')
    for row in rows:
        cells = row.find_all('td')
        str_cells = str(cells)
        clean = re.compile('<.*?>')
        clean2 = (re.sub(clean, '',str_cells))
        list_rows.append(clean2)

df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1  [1290435, December 31, 2018, Nebraska, Omaha, ...
2  [1291253, December 31, 2018, West Virginia, Wo...
3  [1289028, December 31, 2018, Oklahoma, Oklahom...
4  [1290413, December 31, 2018, Nevada, Las Vegas...
5  [1290400, December 31, 2018, Vermont, Burlingt...
6  [1295009, December 31, 2018, Missouri, Saint L...
7  [1291926, December 31, 2018, North Carolina, D...
8  [1290378, December 31, 2018, Massachusetts, Wo...
9  [1290368, December 31, 2018, Texas, Houston, K...

In [7]:
df

                                                     0
0                                                   []
1    [1290435, December 31, 2018, Nebraska, Omaha, ...
2    [1291253, December 31, 2018, West Virginia, Wo...
3    [1289028, December 31, 2018, Oklahoma, Oklahom...
4    [1290413, December 31, 2018, Nevada, Las Vegas...
5    [1290400, December 31, 2018, Vermont, Burlingt...
6    [1295009, December 31, 2018, Missouri, Saint L...
7    [1291926, December 31, 2018, North Carolina, D...
8    [1290378, December 31, 2018, Massachusetts, Wo...
9    [1290368, December 31, 2018, Texas, Houston, K...
10   [1290364, December 31, 2018, Massachusetts, Bo...
11   [1289364, December 31, 2018, Indiana, Evansvil...
12   [1289362, December 31, 2018, New York, New Yor...
13   [1292848, December 31, 2018, Kansas, Olathe, 1...
14   [1289794, December 31, 2018, Georgia, Stone Mo...
15   [1291834, December 31, 2018, Florida, Fort Pie...
16   [1290146, December 31, 2018, Texas, Fort Worth...
17   [1290313, December 31, 2018, Kansas, Goessel, ...
18   [1288927, December 31, 2018, Colorado, Longmon...
19   [1291156, December 31, 2018, Texas, Mexia, 500...
20   [1290298, December 31, 2018, Ohio, Dayton, 250...
21   [1289318, December 31, 2018, Massachusetts, Me...
22   [1290261, December 31, 2018, Kentucky, Owensbo...
23   [1290285, December 31, 2018, Texas, Houston, 1...
24   [1290274, December 31, 2018, Kansas, Topeka, S...
25   [1290266, December 31, 2018, Louisiana, Baton ...
26                                                  []
27   [1288883, December 31, 2018, Pennsylvania, Wat...
28   [1289893, December 31, 2018, South Carolina, C...
29   [1290256, December 31, 2018, Texas, Fort Worth...
..                                                 ...
412  [1287659, December 29, 2018, North Carolina, C...
413  [1291126, December 29, 2018, North Carolina, K...
414  [1288849, December 29, 2018, Illinois, Urbana,...
415  [1288215, December 29, 2018, District of Colum...
416                                                 []
417  [1289267, December 29, 2018, Alabama, Gadsden,...
418  [1287641, December 29, 2018, Alabama, Montgome...
419  [1288432, December 29, 2018, Ohio, Columbus, 8...
420  [1288409, December 29, 2018, Ohio, Dayton, 800...
421  [1290190, December 29, 2018, Illinois, Bourbon...
422  [1287597, December 29, 2018, Massachusetts, Re...
423  [1288475, December 29, 2018, Colorado, Aurora,...
424  [1287627, December 29, 2018, South Carolina, O...
425  [1290176, December 29, 2018, Illinois, Kankake...
426  [1288205, December 29, 2018, Georgia, Savannah...
427  [1287689, December 29, 2018, Arkansas, North L...
428  [1293027, December 29, 2018, Oregon, Bend, Fon...
429  [1288186, December 29, 2018, Georgia, Atlanta,...
430  [1291081, December 29, 2018, Virginia, Charlot...
431  [1290081, December 29, 2018, California, Victo...
432  [1288167, December 29, 2018, Arkansas, Little ...
433  [1289172, December 29, 2018, Tennessee, Mount ...
434  [1292546, December 29, 2018, Georgia, Athens, ...
435  [1289158, December 29, 2018, California, Fairf...
436  [1368779, December 29, 2018, Connecticut, Meri...
437  [1289150, December 29, 2018, California, Oxnar...
438  [1289148, December 29, 2018, California, Oxnar...
439  [1287687, December 29, 2018, North Carolina, D...
440  [1289129, December 29, 2018, California, Aubur...
441  [1287761, December 29, 2018, California, Ander...

[442 rows x 1 columns]

In [8]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1  [1290435, December 31, 2018, Nebraska, Omaha, ...
2  [1291253, December 31, 2018, West Virginia, Wo...
3  [1289028, December 31, 2018, Oklahoma, Oklahom...
4  [1290413, December 31, 2018, Nevada, Las Vegas...
5  [1290400, December 31, 2018, Vermont, Burlingt...
6  [1295009, December 31, 2018, Missouri, Saint L...
7  [1291926, December 31, 2018, North Carolina, D...
8  [1290378, December 31, 2018, Massachusetts, Wo...
9  [1290368, December 31, 2018, Texas, Houston, K...

In [9]:
df = df[0].str.split(',', expand=True)
df.head(10)

,0,1,2,3,4,5,6,7,8
0,[],None,None,None,None,None,None,None,None
1,[1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source\n]
2,[1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source\n]
3,[1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source\n]
4,[1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source\n]
5,[1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source\n]
6,[1295009,December 31,2018,Missouri,Saint Louis (Overland),N/A,0,0,View Incident\nView Source\n]
7,[1291926,December 31,2018,North Carolina,Durham,Hill St,0,1,View Incident\nView Source\n]
8,[1290378,December 31,2018,Massachusetts,Worcester,Dorchester St and Cutler St,0,0,View Incident\nView Source\n]
9,[1290368,December 31,2018,Texas,Houston,Kashmere St and Collingsworth St,0,0,View Incident\nView Source\n]

In [10]:
df[0] = df[0].str.strip('[')
df

,0,1,2,3,4,5,6,7,8
0,],None,None,None,None,None,None,None,None
1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source\n]
2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source\n]
3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source\n]
4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source\n]
5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source\n]
6,1295009,December 31,2018,Missouri,Saint Louis (Overland),N/A,0,0,View Incident\nView Source\n]
7,1291926,December 31,2018,North Carolina,Durham,Hill St,0,1,View Incident\nView Source\n]
8,1290378,December 31,2018,Massachusetts,Worcester,Dorchester St and Cutler St,0,0,View Incident\nView Source\n]
9,1290368,December 31,2018,Texas,Houston,Kashmere St and Collingsworth St,0,0,View Incident\nView Source\n]
10,1290364,December 31,2018,Massachusetts,Boston,Harrison Ave and Oxford Pl,0,0,View Incident\nView Source\n]
11,1289364,December 31,2018,Indiana,Evansville,West Columbia St,0,0,View Incident\nView Source\n]
12,1289362,December 31,2018,New York,New York (Manhattan),110 Bedford St,1,0,View Incident\nView Source\n]
13,1292848,December 31,2018,Kansas,Olathe,12051 Bass Pro Dr,0,0,View Incident\nView Source\n]
14,1289794,December 31,2018,Georgia,Stone Mountain,5345 Memorial Dr,1,0,View Incident\nView Source\n]
15,1291834,December 31,2018,Florida,Fort Pierce,2400 block of N 42nd St,0,0,View Incident\nView Source\n]
16,1290146,December 31,2018,Texas,Fort Worth,5430 Miller Ave,0,0,View Incident\nView Source\n]
17,1290313,December 31,2018,Kansas,Goessel,301 E Commercial St,0,0,View Incident\nView Source\n]
18,1288927,December 31,2018,Colorado,Longmont,2211 Pratt St,1,0,View Incident\nView Source\n]
19,1291156,December 31,2018,Texas,Mexia,500 block of W Commerce St,0,0,View Incident\nView Source\n]
20,1290298,December 31,2018,Ohio,Dayton,2500 block of Home Ave,0,1,View Incident\nView Source\n]
21,1289318,December 31,2018,Massachusetts,Methuen,Lowell St and N Lowell St,0,0,View Incident\nView Source\n]
22,1290261,December 31,2018,Kentucky,Owensboro,700 block of Elm St,0,0,View Incident\nView Source\n]
23,1290285,December 31,2018,Texas,Houston,12101 Fondren Rd,1,0,View Incident\nView Source\n]
24,1290274,December 31,2018,Kansas,Topeka,SW 17th St and SW Westport Dr,0,0,View Incident\nView Source\n]
25,1290266,December 31,2018,Louisiana,Baton Rouge,6300 block of Airline Hwy,0,0,View Incident\nView Source\n]
26,],None,None,None,None,None,None,None,None
27,1288883,December 31,2018,Pennsylvania,Waterville,Church St,1,0,View Incident\nView Source\n]
28,1289893,December 31,2018,South Carolina,Columbia,300 block of S Highland Forest Dr,1,0,View Incident\nView Source\n]
29,1290256,December 31,2018,Texas,Fort Worth,2900 Renaissance Dr,0,1,View Incident\nView Source\n]
...,...,...,...,...,...,...,...,...,...
412,1287659,December 29,2018,North Carolina,Charlotte,Columbus Cir,0,2,View Incident\nView Source\n]
413,1291126,December 29,2018,North Carolina,Kernersville,I-40BUS and NC 66,0,0,View Incident\nView Source\n]
414,1288849,December 29,2018,Illinois,Urbana,2000 block of Vawter St,1,0,View Incident\nView Source\n]
415,1288215,December 29,2018,District of Columbia,Washington,50 block of O St NW,0,0,View Incident\nView Source\n]
416,],None,None,None,None,None,None,None,None
417,1289267,December 29,2018,Alabama,Gadsden,1300 block of Chestnut St,0,0,View Incident\nView Source\n]
418,1287641,December 29,2018,Alabama,Montgomery,4400 block of Richardson Rd,0,1,View Incident\nView Source\n]
419,1288432,December 29,2018,Ohio,Columbus,826 Wedgewood Dr,1,0,View Incident\nView Source\n]
420,1288409,December 29,2018,Ohio,Dayton,800 block of Huffman Ave,0,1,View Incident\nView Source\n]
421,1290190,December 29,2018,Illinois,Bourbonnais,1887 Armour Rd,0,1,View Incident\nView Source\n]
422,1287597,December 29,2018,Massachusetts,Revere,16 Pleasant St,0,1,View Incident\nView Source\n]
423,1288475,December 29,2018,Colorado,Aurora,12051 E Mississippi Ave,1,0,View Incident\nView Source\n]
424,1287627,December 29,2018,South Carolina,Orangeburg,500 block of Shadowlawn Dr,0,0,View Incident\nView Source\n]
425,1290176,December 29,2018,Illinois,Kankakee,400 block of S Wildwood Ave,0,1,View Incident\nView Source\n]
426,1288205,December 29,2018,Georgia,Savannah,Treat Ave and Iowa St,1,0,View Incident\nView Source\n]
427,1287689,December 29,2018,Arkansas,North Little Rock,2900 block of Pike Ave,2,0,View Incident\nView Source\n]
428,1293027,December 29,2018,Oregon,Bend,Fontana Rd and Stellar Dr,0,0,View Incident\nView Source\n]
429,1288186,December 29,2018,Georgia,Atlanta,1975 North Ave,0,1,View Incident\nView Source\n]
430,1291081,December 29,2018,Virginia,Charlottesville,300 block of 6 1/2 St SW,0,0,View Incident\nView Source\n]
431,1290081,December 29,2018,California,Victorville,11600 Amargosa Rd,0,0,View Incident\nView Source\n]
432,1288167,December 29,2018,Arkansas,Little Rock,2027 Bond Ave,0,2,View Incident\nView Source\n]
433,1289172,December 29,2018,Tennessee,Mount Juliet,100 Carrick Ct,0,0,View Incident\nView Source\n]
434,1292546,December 29,2018,Georgia,Athens,402 McKinley Dr,0,0,View Incident\nView Source\n]
435,1289158,December 29,2018,California,Fairfield,Oliver Rd,0,1,View Incident\nView Source\n]
436,1368779,December 29,2018,Connecticut,Meriden,E Main St,0,0,View Incident\nView Source\n]
437,1289150,December 29,2018,California,Oxnard,300 block of Campbell Way,0,1,View Incident\nView Source\n]
438,1289148,December 29,2018,California,Oxnard,1200 block of North H St,0,1,View Incident\nView Source\n]
439,1287687,December 29,2018,North Carolina,Durham,3300 block of Guess Rd,0,1,View Incident\nView Source\n]
440,1289129,December 29,2018,California,Auburn,100 block of Diamond St,0,0,View Incident\nView Source\n]
441,1287761,December 29,2018,California,Anderson,2700 block of Barney Rd,0,0,View Incident\nView Source\n]

In [11]:
headers = rows[0].find_all('th')
headers = [header.get_text().strip('\n') for header in headers]
headers

['Incident ID',
 'Incident Date',
 'State',
 'City Or County',
 'Address',
 '# Killed',
 '# Injured',
 'Operations']

In [12]:
all_header = []
col_str = str(headers)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

["['Incident ID', 'Incident Date', 'State', 'City Or County', 'Address', '# Killed', '# Injured', 'Operations']"]

In [13]:
header = all_header[0].replace('[', '').replace(']', '').split(',')[:8]
header.insert(2, 'year')
# new_header = []
# for item in header:
#     new_header.append(item.strip())
header = [name.replace('"', '').replace("'", "").replace('#', '').strip() for name in header]
header

['Incident ID',
 'Incident Date',
 'year',
 'State',
 'City Or County',
 'Address',
 'Killed',
 'Injured',
 'Operations']

In [14]:
header_df = pd.DataFrame(header).T
header_df.head()

,0,1,2,3,4,5,6,7,8
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations

In [15]:
df.shape, header_df.shape

((442, 9), (1, 9))

In [16]:
frames = [header_df, df]

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,],None,None,None,None,None,None,None,None
1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source\n]
2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source\n]
3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source\n]
4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source\n]
5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source\n]
6,1295009,December 31,2018,Missouri,Saint Louis (Overland),N/A,0,0,View Incident\nView Source\n]
7,1291926,December 31,2018,North Carolina,Durham,Hill St,0,1,View Incident\nView Source\n]
8,1290378,December 31,2018,Massachusetts,Worcester,Dorchester St and Cutler St,0,0,View Incident\nView Source\n]

In [17]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,],None,None,None,None,None,None,None,None
1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source\n]
2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source\n]
3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source\n]

In [18]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443 entries, 0 to 441
Data columns (total 9 columns):
Incident ID       443 non-null object
Incident Date     426 non-null object
year              426 non-null object
State             426 non-null object
City Or County    426 non-null object
Address           426 non-null object
Killed            426 non-null object
Injured           426 non-null object
Operations        426 non-null object
dtypes: object(9)
memory usage: 34.6+ KB

(443, 9)

In [19]:
df6 = df5.dropna(axis=0, how='any')

In [20]:
df7 = df6.drop(df6.index[0])
df7.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source\n]
2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source\n]
3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source\n]
4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source\n]
5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source\n]

In [21]:
df7['Operations'] = df7['Operations'].str.strip(']').str.strip('\n')
df7.head()

,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source
2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source
3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source
4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source
5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source

In [22]:
df7 = df7.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [23]:
df7.to_csv("gunviolence_db.csv")

In [24]:
# Create engine using the `gunviolence_db.sqlite` database file
engine = create_engine("sqlite:///../project2_team4/gunviolence_db.sqlite")

In [26]:
df7.to_sql("gunviolence_db", con=engine)

In [ ]:
#from geopy.geocoders import Nominatim
#from geopy import geocoders
#from geopy.exc import GeocoderTimedOut

In [ ]:
#geolocator = Nominatim(user_agent="gunviolence_2018")
#g = geocoders.GoogleV3(api_key='AIzaSyAkBEmk1KIJqs-0NObr_lr1fxdA6l1grw8')
#def transfer_adress(Address: str):
#    location = g.geocode(address, timeout=10)
#    return (location.latitude, location.longitude)

In [ ]:
#for i in df7.index: 
#     print(df7['Address'][i])

In [ ]:
#df7['lat, lon'] = df7['Address'].apply(transfer_adress_to_cordinates)
#df7.head()

In [ ]:
#print((location.latitude, location.longitude))