In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
file_to_load = "gva1.csv"

# Read File and store into Pandas data frame
gva2 = pd.read_csv(file_to_load)
gva2.head()

,Unnamed: 0,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,latitude,longitude
0,0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,14.0,40.3467,-79.8559
1,1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,43.0,33.9090,-118.3330
2,2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,9.0,41.4455,-82.1377
3,3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,6.0,39.6518,-104.8020
4,4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,6.0,36.1140,-79.9569

In [3]:
gva2.describe()

,Unnamed: 0,incident_id,n_killed,n_injured,congressional_district,latitude,longitude
count,239677.000000,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000
mean,119838.000000,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348
std,69188.934572,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546
min,0.000000,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000
25%,59919.000000,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725
50%,119838.000000,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600
75%,179757.000000,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625
max,239676.000000,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100

In [4]:
#drop any that have nan, so:

In [5]:
import sqlite3
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [6]:
# Create engine using the `gunviolence_db.sqlite` database file
engine = create_engine("sqlite:///gva2_db.sqlite")

In [7]:
gva2.to_sql("gva2_db", con=engine)