In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [27]:
file_to_load = "db/gva1.csv"

# Read File and store into Pandas data frame
gva2 = pd.read_csv(file_to_load, parse_dates=[2]).drop(['Unnamed: 0'],axis=1)
gva2.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,latitude,longitude
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,14.0,40.3467,-79.8559
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,43.0,33.9090,-118.3330
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,9.0,41.4455,-82.1377
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,6.0,39.6518,-104.8020
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,6.0,36.1140,-79.9569

In [28]:
gva2.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100

In [29]:
gva3 = gva2.dropna()
gva3.rename(columns={'n_killed': 'killed', 'n_injured': 'injured', 'congressional_district': 'district'}, inplace=True)
gva3.describe()

,incident_id,killed,injured,district,latitude,longitude
count,2.116790e+05,211679.000000,211679.000000,211679.000000,211679.000000,211679.000000
mean,5.459648e+05,0.255590,0.512158,8.064116,37.494623,-89.198216
std,2.887412e+05,0.527894,0.743730,8.535917,5.021357,14.160051
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-165.586000
25%,2.995635e+05,0.000000,0.000000,2.000000,33.909600,-93.767300
50%,5.251900e+05,0.000000,0.000000,5.000000,38.548900,-86.179000
75%,8.012030e+05,0.000000,1.000000,10.000000,41.404400,-80.037350
max,1.083466e+06,50.000000,53.000000,53.000000,71.336800,-67.271100

In [30]:
gva3.dtypes

incident_id                int64
date              datetime64[ns]
state                     object
city_or_county            object
address                   object
killed                     int64
injured                    int64
district                 float64
latitude                 float64
longitude                float64
dtype: object

In [5]:
import sqlite3
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [6]:
# Create engine using the `gunviolence_db.sqlite` database file
engine = create_engine("sqlite:///gva2_db.sqlite")

In [7]:
gva2.to_sql("gva2_db", con=engine)